@using System.Web.Optimization;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>PCMC</title>

    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/font-awesome")
    @Styles.Render("~/Content/sb-admin")


    @Scripts.Render("~/bundles/jquery",
                    "~/bundles/bootstrap",
                    "~/bundles/plugins/flot",
                    "~/bundles/plugins/morris")
</head>
<body>

    <div id="wrapper" ng-app="mainApp">

        <!-- Navigation -->
        <div ng-include="'Client/Navigation/Navigation.html'" ng-controller="NavigationCtlr as nav"></div>

        <!-- Current Page -->
        <div ng-view>
            
        </div>
    </div>
    <!-- /#wrapper -->

    <!--ALERT NOTIFICATIONS-->
    <div class="alert alert-info alert-dismissable" style="position:absolute; right:10px; top:61px; z-index:9000">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <i class="fa fa-info-circle"></i>  <strong>Like SB Admin?</strong> Try out <a href="http://startbootstrap.com/template-overviews/sb-admin-2" class="alert-link">SB Admin 2</a> for additional features!
    </div>
    
    @RenderBody()
    @Scripts.Render("~/bundles/angular")

</body>
</html>